<html>
	<head>
	    <title>Fondo de prueba</title>
	</head>

	<body background="fondo1.jpg" bgcolor="FFCECB">

	<table width="550" bgcolor=FFCECB align=center>
	<div class="container p-4">
         <tr>
            <td>

            <h1 style="color:green">Proximo...</h1>
            <br>
            Rotacion de imagenes informativas.
            <br>

            </td>
	    </tr>
    </div>
	</table>

	</body>
	</html>