<div class="conteiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.correo}}</h3>
                    <a class=" btn btn-prymary m-4">
                        ADMINISTRADOR LECOFQ
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>